# Nuxt dev/build outputs
.output
.nuxt
.nitro
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
app.config.ts
public
pnpm-lock.yaml
qodana.sarif.json
qodana.yaml


# Local env files
.env
.env.*
!.env.example
